<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset("assets/css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/css/shared/base.css") }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>

    {% block navigation %} {% endblock %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}

    </body>
    <script src={{ asset("assets/js/jquery.min.js") }}></script>
    <script src={{ asset("assets/js/bootstrap.min.js") }}></script>
    {% block javascripts %}
    {% endblock %}
</html>
