{% extends 'admin_base.html.twig' %}

{% block title %}Copy index{% endblock %}

{% block body %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Books data</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                <th>Id</th>
                <th>PhysicalState</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for copy in copies %}
            <tr>
                <td>{{ copy.id }}</td>
                <td>{{ copy.physicalState }}</td>
                <td>{{ copy.status }}</td>
                <td>
                    <a href="{{ path('admin_copy_show', {'id': copy.id}) }}">show</a>
                    <a href="{{ path('admin_copy_edit', {'id': copy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_copy_new') }}">Create new</a>
{% endblock %}
