{% extends 'frontEnd/biblio/base.html.twig' %}

{% block stylesheets %}
{{parent()}}
    <link href="{{ asset("assets/css/book-show.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/shared/star-rating.css") }}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

{% endblock %}
{% block title %}Book details{% endblock %}
{% block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">

        {{ render(controller(
            'App\\Controller\\CategoryController:biblioCategoriesToolbar',
            { 'activeCategories': activeCategories }
        )) }}
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <a href="{{ path('biblio_book_index') }}"><-- Back to the list</a>

            <div class="card mt-4">
                <img class="card-img-top img-fluid img-book" src="{{ document.thumbnailUrl }}" alt="">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="card-title">{{ document.title }}</h3>
                        </div>

                        <div class="col-3">
                            <a href="{{path('biblio_book_borrow', {'id': document.id})}}"
                               class="btn btn-primary btn-lg {% if (remainingCopies == 0 or alreadyBorrowed) %}disabled{% endif %}">
                                {% if alreadyBorrowed %}Borrowed {% else %}Borrow{% endif %}</a>
                        </div>
                    </div>
                    <div>
                    <h4>By: {{ document.artistInvolvements|map(inv=>"<a href="~path('biblio_artist_show', {'id': inv.artist.id})~">"~inv~"</a>")|join(', ')|raw }}
                  {#      {% for inv in book.artistInvolvements %}
                        {{ inv.artist.firstName }} {{ inv.artist.lastName }} ({{ inv.type }}), {% endfor %}#}
                    </h4>
                    </div>
                    <div>
                    <p class="card-text">{{document.description}}</p>
                    </div>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    4.0 stars
                </div>
            </div>
            <!-- /.card -->
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <table class="table-striped">
                        <tr>
                            <td>
                                Publisher:
                            </td>
                            <td>
                                {{ document.publisher }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pages count:
                            </td>
                            <td>
                                {{ document.pagesCount }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Published Date:
                            </td>
                            <td>
                                {{ document.publishedDate|date("m/d/Y") }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ISBN:
                            </td>
                            <td>
                                {{ document.isbn }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Remaining copies:
                            </td>
                            <td>
                                {{ remainingCopies }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Categories:
                            </td>
                            <td>
                                {{ document.categories|join(', ') }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    {{ render(controller(
                    'App\\Controller\\ReviewController:index',
                    { 'id': document.id }
                        )) }}
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    {{ render(controller(
                    'App\\Controller\\ReviewController:new',
                    { 'id': document.id }
                        )) }}
                </div>
            </div>
            <!-- /.card -->
            

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Some Books which have some categories in common
                </div>
                <div class="card-body">
                    <div class="row">
                        {{ render(controller(
                            'App\\Controller\\CategoryController::getDocumentsSamplesByCategories',
                            { 'document': document }
                        )) }}
                    </div>
                </div>
            </div>


            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Written by the same author
                </div>
                <div class="card-body">
                    <div class="row">
                        {{ render(controller(
                            'App\\Controller\\BiblioArtistController::getBooksSamplesByArtistTemplate',
                            { 'document': document }
                        )) }}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="{{asset("assets/js/star-rating.js")}}" type="text/javascript"></script>
    <script>
    // initialize with defaults
$(document).ready(function () {
    $('form').on('submit', function (event) {
        event.preventDefault();
        let form = event.target;
        console.log(form);
        let data = $('form').serialize();
        $.ajax({
            type: "POST",
            url: form.getAttribute('action'),
            data: data,
            success: function() {
                alert('success');
            },
        });
    
    });

});

</script>
{% endblock %}